{% for host in export.clients | default(nfs_default_clients) %}
{{export.export_dir | default(nfs_default_export_dir)}} {{host}}({{export.export_opts | default(nfs_default_export_opts)}})
{% endfor %}
