{% for host in nfs_export.clients | default(nfs_default_clients) %}
{{nfs_export.export_dir | default(nfs_default_export_dir)}} {{host}}({{nfs_export.export_opts | default(nfs_default_export_opts)}})
{% endfor %}
